<ion-header [class.scrolled]="scrolled" translucent="true" class="glass-navbar">
  <ion-toolbar>

    <!-- Botón de volver o espacio vacío -->
    <ion-buttons slot="start">
      <ion-button *ngIf="showBack; else emptySpace" (click)="goBack()" class="navbar-back-button">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
      <ng-template #emptySpace>
        <div style="width: 48px;"></div>
      </ng-template>
    </ion-buttons>
    
    <!-- Título centrado -->
    <ion-title class="navbar-title">{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button class="navbar-menu-button"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>